<div class="bg-home-image bg-cover  lg:w-full m-auto  h-dvh ">
    <h1 class=" font-hiro text-5xl lg:text-6xl w-3/4 m-auto lg:ml-20  mt-4  lg:w-1/3 pt-60 text-white"> Sortez Vos <br> Baguettes !</h1>
    <p class=" font-serif text-2xl w-3/4 m-auto lg:ml-20  mt-4  lg:w-1/3 text-white">Venez découvrir nos sushis faits avec des produits de
        qualité.</p>
        <div class="w-full flex justify-center lg:block mt-4  items-center lg:pl-20 lg:pt-10">
            <a routerLink="menus">
                <button class="flex p-3 rounded-2xl text-white text-2xl font-serif bg-green-500">
                    Commander
                    <lucide-icon name="utensils-crossed" class="pl-2" color="#ffffff" [size]="30" [strokeWidth]="1.5"></lucide-icon>
                </button>
            </a>
        </div>
        
</div>

