<div class="w-3/4 block lg:grid lg:grid-cols-2 gap-y-4  m-auto mt-24 mb-36">
    <div>
        <img [src]="box.image" class="w-11/12 m-auto mt-8 object-cover rounded-md" [alt]="box.name">
    </div>
    <div>
        <h1 class="text-3xl text-white w-full text-start">{{box.name}}</h1>
        <div class="grid grid-cols-2 w-full mt-4 items-center">
            <h2 class="text-2xl text-white w-full text-start">{{box.price | currency: 'EUR'}}</h2>
            <button
                class="w-full m-3 p-2 text-white transition ease-in duration-200 rounded-full border border-white-500 hover:bg-green-500 hover:text-white hover:border-green-500 text-center  mr-auto border-solid focus:outline-none  "
                (click)="addBoxtoCard()">
                Ajouter au Panier
            </button>
        </div>
        <div class=" w-3/4 m-auto mt-8">
            <h3 class="text-2xl w-full text-center text-white">Compostion</h3>
            <ul class=" mt-8 ">
                <li *ngFor="let aliment of aliments; index as i;" class="text-white text-m font-serif">
                    {{aliment.aliment_name}} x
                    {{aliment.quantity}}</li>
            </ul>
        </div>
        <h3 class="text-2xl w-full text-center text-white mt-12">Ingrédients</h3>
        <div class=" w-3/4 m-auto mt-8 flex space-x-4 ">
            <div *ngFor="let savor of savor; index as i;" class="w-full">
                <img [src]="savor.savor_image" class="w-full h-16 w-16 object-cover rounded-md"
                    [alt]="savor.savor_image">
                <p class="text-sm w-full mt-2 text-white text-center font-serif"> {{savor.savor_name}}</p>
            </div>
        </div>
    </div>
</div>